unzip json files in to a folder in google drive cloud

---

In [ ]:
# from zipfile import ZipFile
# with ZipFile('drive/MyDrive/datasets.zip', 'r') as zipObj:
  # zipObj.extractall('drive/MyDrive/test')

import necessary libraries and setting pandas parameters

In [10]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.4 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.types import Integer, VARCHAR, Float
pd.options.display.max_columns = None
pd.set_option('display.max_rows', 100)

### descripcion del data cleaning y el output esperado

<img src = 'https://drive.google.com/uc?id=1-977aQbW7lqXx0dYfPwDFUIxVz5jxGnK'>

df1: business_id, name, address, postal_code, latitude, longitude,stars, review_count, is_open => business

df2: city, state => business_cities

df3: attributes => business_attributes

df4: categories => business_categories

df5: hours => busines_hours

### definiendo la ruta input del archivo de carga incremental y el directorio de output

In [2]:
input_path = '/content/drive/MyDrive/test/Dataset Yelp/'
df_business = pd.read_json(f'{input_path}business.json', lines=True)

### funcion de transformacion del archivo original a uno que pueda alimentar la DB

In [16]:
def transform_business(df_business):
  df_business = df_business.rename(columns={'business_id':'old_id'})
  df_business['city'] = df_business['city'].apply(lambda x: x.lower())
  df_business['city'] = df_business['city'].str.replace(',','')
  df_business['city'] = df_business['city'].str.replace('.','')
  df_business['city'] = df_business['city'].apply(lambda x: x.strip())
  df_business['city'] = df_business['city'].apply(lambda x: " ".join(x.split()))
  df_business['city'] = df_business['city'].apply(lambda x: x.title())
  df_business['categories'] = df_business['categories'].fillna('0')
  cat_list = ['Restaurants', 'Hotels & Travel', 'Food', 'Nightlife', 'Active Life', 'Arts & Entertainment', 'Beauty & Spas']

  def validator(value):
    if value in cat_list:
      return 1000
    else:
      return 0

  def cat_to_list(value):
    value = value.split(', ')
    value.sort(key=validator, reverse=True)
    return ', '.join(value)
  
  df_business['categories'] = df_business['categories'].apply(lambda x: cat_to_list(x))

  city_dict = {'Belle Chase': 'Belle Chasse', 'Abington Township': 'Abington','Ashland City': 'Ashland','Bellefontaine Neighbors': 'Bellefontaine',
               'Bellville': 'Belleville','Belleair Blf': 'Belleair Bluffs','Bethel Township': 'Bethel','Bensalem Pa': 'Bensalem',
               'Bensalem Township': 'Bensalem','Boise City': 'Boise','Burlington Township': 'Burlington',"Carney'S Point": 'Carneys Point',
               'Cedar Brook': 'Cedarbrook','/': '','Conshohoeken':'Conshohocken','Delran Township': 'Delran','Delran Twp': 'Delran',
               'Concord Township': 'Concord','Deptford Township': 'Deptford','Eastampton Township': 'Eastampton',' Township': '',
               'Fairview Hts': 'Fairview','-': '',' City': '',' Twp': '','Bch': 'Beach','Land O Lakes':"Land O'Lakes","Land O' Lakes":"Land O'Lakes",
               'Mccordsville': 'Mc Cordsville','Metarie': 'Metairie','Mt Laurel Twp Nj': 'Mt Laurel','Sqaure': 'Square','O Fallon': "O'Fallon",
               "O' Fallon": "O'Fallon",'Phila': 'Philadelphia','Philadephia': 'Philadelphia','Philly': 'Philadelphia',
               'Redingtn Shor': 'Redington Shore','Redington Shores': 'Redington Shore','Riverview Fl': 'Riverview','Saintt': 'Saint',
               'Tierre': 'Tierra',"Town 'N' Country": 'Town & Country','Town And Country': 'Town & Country','Town N Country': 'Town & Country',
               'Tuscon': 'Tucson'
             }

  df_business = df_business.replace({'city': city_dict})
  df_restaurants = df_business[df_business['categories'].str.contains('Restaurant')]
  df_city_state = df_business[['city', 'state']].drop_duplicates().copy()
  new_col2 = list(range(1, len(df_city_state)+1, 1))
  df_city_state.insert(loc = 0, column = 'city_state_id', value = new_col2) 

  df2 = pd.merge(df_business, df_city_state, left_on=['city', 'state'], right_on=['city', 'state'], how='left')
  df_business['city_state_id'] = df2['city_state_id']
  def cat_to_col(value):
    aux_dict = {}
    x = value.split(', ')
    for i in x:
      aux_dict[i] = 1
    return aux_dict
  def dict_to_columns(df_i, column):
    df_i[column] = df_i[column].fillna('{}')
    df_i.reset_index(inplace=True)
    df_o = df_i.join(pd.json_normalize(df_i.pop(column)))
    if 'level_0' in df_o.columns:
      df_o.drop(['level_0'], axis=1, inplace=True)

    return df_o
  def attr_to_list(i):
    attributes_list = []
    try:
      for j in i:
        if i[j] == 'True' or i[j] == '1' or i[j] == "u'free'":
          attributes_list.append(j)
      return ', '.join(attributes_list)
    except:
      return ''
  df_restaurants['attributes'] = df_restaurants['attributes'].apply(lambda x: attr_to_list(x))
  df_business['attributes'] = df_business['attributes'].apply(lambda x: attr_to_list(x))
  df_business = df_business[df_business['categories'].str.contains('Restaurants|Hotels & Travel|Food|Nightlife|Active Life|Arts & Entertainment|Beauty & Spas')]
  df_business = df_business.reset_index(drop=True)


  business_index = pd.DataFrame()
  business_index['id'] = list(range(1, len(df_business) + 1, 1))
  business_index['business_id'] = df_business['old_id'].copy()

  df_business.drop(['old_id'], axis=1, inplace=True)
  new_col = list(range(1, len(df_business) +1, 1))
  df_business.insert(loc = 0, column = 'business_id', value = new_col)


  df_hours = pd.DataFrame()
  df_hours['hours'] = df_business['hours'].copy()
  df_hours['aux'] = df_hours['hours'].astype('str')
  df_hours = dict_to_columns(df_hours, 'hours')
  df_hours = df_hours.fillna(0)
  df_hours.drop(['index'], axis=1, inplace=True)
  df_hours = df_hours.drop_duplicates()
  df_hours.insert(loc = 0, column = 'hours_id', value = list(range(1, len(df_hours)+1, 1)))
  df_business['hours'] = df_business['hours'].astype('str')
  df3=pd.merge(df_business,df_hours, left_on='hours', right_on='aux', how='inner')
  df3.drop(['hours','aux','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'], axis=1, inplace=True)
  df_business['hours_id'] = df3['hours_id']
  df_business.drop(['hours'], axis=1, inplace=True)
  df_business['attributes'] = df_business['attributes'].astype('str')
  
  df_attributes = pd.DataFrame()
  df_attributes['attributes'] = df_business['attributes']
  df_attributes = df_attributes.drop_duplicates()
  df_attributes.insert(loc = 0, column = 'attributes_id', value = list(range(1, len(df_attributes)+1)))
  df_attributes['attributes'] = df_attributes['attributes'].astype('str')
  df5 = pd.merge(df_business, df_attributes, left_on=['attributes'], right_on=['attributes'], how='inner')
  df_business['attributes_id'] = df5['attributes_id']
  df_categories = pd.DataFrame()
  df_categories['categories'] = df_business['categories']
  df_categories = df_categories.drop_duplicates()
  df_categories.insert(loc = 0, column = 'categories_id', value = list(range(1, len(df_categories)+1, 1)))
  df6 = pd.merge(df_business, df_categories, left_on='categories', right_on='categories', how='inner')
  df_business['categories_id'] = df6['categories_id']
  df_business.drop(['city', 'state', 'attributes','categories'], axis=1, inplace=True)
  df_hours.drop(['aux'], axis=1, inplace=True)
  hours_aux = df_hours.columns.tolist()[1:]
  for i in hours_aux:
    df_hours[i] = df_hours[i].astype('str')

  # definiendo los formatos de columnas

  #business
  dtypes1 = {'business_id': Integer,'name': VARCHAR(255),'address': VARCHAR(255),'postal_code': VARCHAR(25),'latitude': Float,'longitude': Float,'stars': Float,
             'review_count': Integer,'is_open': Integer,'city_state_id': Integer,'hours_id': Integer,'attributes_id': Integer,'categories_id': Integer}

  # attributes
  dtypes2 = { 'attributes_id': Integer}

  # categories
  dtypes3 = { 'categories_id': Integer, 'categories': VARCHAR(655) }

  # city_state
  dtypes4 = {'city_state_id': Integer,'city': VARCHAR(100),'state': VARCHAR(10)}

  # hours
  dtypes5 = { 'hours_id': Integer, 'Monday': VARCHAR(25), 'Tuesday': VARCHAR(25), 'Wednesday': VARCHAR(25), 'Thursday': VARCHAR(25), 'Friday': VARCHAR(25), 'Saturday': VARCHAR(25), 'Sunday': VARCHAR(25)}


  engine = create_engine('mysql+pymysql://root:projectyelp2022@34.176.218.33/prueba')
  df_attributes['attributes'] = df_attributes['attributes'].str.replace('','', regex=True)
  
  df_business.to_sql('business', con=engine, index=False, if_exists='replace', dtype=dtypes1)
  print('terminado 1')
  df_attributes.to_sql('business_attributes', con=engine, index=False, if_exists='replace', dtype=dtypes2)
  print('terminado 2')
  df_categories.to_sql('business_categories', con=engine, index=False, if_exists='replace', dtype=dtypes3)
  print('terminado 3')
  df_city_state.to_sql('business_city_state', con=engine, index=False, if_exists='replace', dtype=dtypes4)
  print('terminado 4')
  df_hours.to_sql('business_hours', con=engine, index=False, if_exists='replace', dtype=dtypes5)
  print('terminado 5')

  business_index.to_sql('business_index', con=engine, index=False, if_exists='replace', dtype={'id': Integer})
  print('terminado index business')

  
  engine.dispose()

#### separando el archivo original en carga inicial e incremental
#### ejecutando el script para carga inicial

In [8]:
df_business_load = df_business.iloc[:140000]

In [15]:
transform_business(df_business_load)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### pdf reporte

In [ ]:
!pip install pymysql

Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
df = df_business.iloc[:1000]

In [ ]:
transform_business(df)

#### reporte de calidad de datos business

In [ ]:
!pip install fpdf

In [ ]:
from fpdf import FPDF

In [ ]:
pdf = FPDF(orientation='P', unit='mm', format='A4')

pdf.add_page()
pdf.set_font('Arial', '', 16)
pdf.text(x=10, y=50, txt='hola mundo')

pdf.output('/content/drive/MyDrive/validator/demo.pdf')

''

## users ETL, creation of users table and Load to cloud SQL using sqlalchemy

In [ ]:
import pandas as pd
pd.options.display.max_columns = None # para mostrar todas las columnas de los dataframes
import numpy as np
!pip install pymysql
import pymysql
import sqlalchemy as db

In [ ]:
#establecimiento de conexión con la base de datos pi_1
database_username='root' # Nombre de cliente en MySQL Workbench
database_password='projectyelp2022' # Contraseña de MySQL Workbench
database_ip='34.176.218.33' # localizacion del servidor
database_name='prueba' # Nombre de Base de datos a la que nos conectaremos
engine=db.create_engine(f'mysql+pymysql://{database_username}:{database_password}@{database_ip}/{database_name}')
conexion=engine.connect()
meta = db.MetaData()

In [ ]:
from sqlalchemy.dialects.mysql import MEDIUMTEXT

users = db.Table(
    'users' , meta,
    db.Column('n_user_id',db.INTEGER),
    db.Column('review_count',db.INTEGER),
    db.Column('yelping_since',db.DATE),
    db.Column('useful',db.INTEGER),
    db.Column('funny',db.INTEGER),
    db.Column('cool',db.INTEGER),
    db.Column('friends', MEDIUMTEXT),
    db.Column('fans',db.INTEGER),
    db.Column('average_stars',db.DECIMAL(precision=3, scale=2))    
)
meta.create_all(engine)

In [ ]:
def etl_users(chunk):
    col_to_drop=['name','elite','compliment_hot','compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain',
                'compliment_cool', 'compliment_funny', 'compliment_writer','compliment_photos'] # droppable columns list
    data_types={'average_stars':np.float32 , 'fans':'uint16', 'review_count':'uint16', 'cool':'uint32', 'useful':'uint32', 'funny':'uint32'} # data types dict for some columns
    
    chunk = chunk.drop(columns=col_to_drop).astype(data_types)
    chunk.insert(1, 'n_user_id', value = list(range(chunk.index.start+1, chunk.index.stop+1)))
    chunk.yelping_since = pd.to_datetime(chunk.yelping_since, format='%Y-%m-%d %H:%M:%S')
    chunk = chunk.astype({'n_user_id':'uint32'})
    return chunk

In [ ]:
reader = pd.read_json("drive/MyDrive/yelp/Dataset Yelp/user.json" , lines=True , chunksize=400000) # definition of the iterator reader object

In [ ]:
sql_data_types={ 
'n_user_id':db.types.INTEGER, 
'review_count': db.types.INTEGER,
'yelping_since': db.types.DATE,
'useful': db.types.INTEGER,                 
'funny' : db.types.INTEGER,        
'cool' : db.types.INTEGER,       
'friends' : MEDIUMTEXT,       
'fans' : db.types.INTEGER,        
'average_stars': db.types.DECIMAL(precision=3, scale=2)
}

chunks_codes=[] # define empty list for chunks
for chunk in reader:  # iterate over the reader object 'reader'
  iter_chunk = etl_users(chunk)
  chunks_codes.append(iter_chunk[['user_id', 'n_user_id']])  # append modified chunks into the chunks list 
  iter_chunk.drop(columns=['user_id'], inplace=True)
  iter_chunk.to_sql('users',conexion, index=False , dtype=sql_data_types, if_exists='append')
  print(len(chunks_codes))

In [ ]:
users_ids= pd.concat(chunks_codes)  # get the user_ids dataframe
# load of users_ids table to cloud sql
codes_data_types={ 
'user_id': db.types.NVARCHAR(70),
'n_user_id':db.types.INTEGER
}
users_ids.to_sql('users_ids',conexion, index=False , dtype=codes_data_types, if_exists='replace')

In [ ]:
# set autoincremental primary key and foreign key 
conexion.execute("ALTER TABLE users_ids CHANGE COLUMN `n_user_id` `n_user_id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY, AUTO_INCREMENT = 1987898;")
conexion.execute("ALTER TABLE users CHANGE COLUMN `n_user_id` `n_user_id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY, AUTO_INCREMENT = 1987898;")
conexion.execute("ALTER TABLE `yelp_pg`.`users` ADD CONSTRAINT `codes`   FOREIGN KEY (`n_user_id`)   REFERENCES `yelp_pg`.`users_ids` (`n_user_id`)   ON DELETE NO ACTION   ON UPDATE NO ACTION;")

In [ ]:
conexion.close()

In [ ]:
# to save RAM
del chunks_codes
del chunk
del iter_chunk
del reader

para hacer el cambio de códigos alfanuméricos de users por códigos numéricos queda el dataframe user_ids