<a href="https://colab.research.google.com/github/khorneflakes-dev/Proyecto-Final-YELP/blob/main/data_load/incremental_load_business.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.types import Integer, VARCHAR, Float

In [ ]:
df=pd.read_json('/content/drive/MyDrive/test/Dataset Yelp/business.json', lines=True)

#### definiendo funciones de validacion de datos

In [ ]:
def format_validation(path):
  import pathlib 
  if pathlib.Path(path).suffix == '.json':
    return True
  else:
    return False

def name_col_val(df):
  if df.columns.tolist() == ['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours']:
    return True
  else: return False

def n_col_val(df):
  if df.shape[1] == 14:
    return True
  else: return False

def duplicates_val(df):
  df_id_val = pd.read_csv('/content/drive/MyDrive/validator/id_bus_val.csv')
  duplicates = 0
  for i in df['business_id']:
    if i in df_id_val['old_id'].tolist():
      print('file contain duplicates')
      return False
      break
    else: return True

#### definiendo funcion de etl

In [ ]:
def transform_business(df_business):

  # parametros para conectarnos al data warehouse
  engine = create_engine('mysql+pymysql://root:projectyelp2022@34.176.218.33/prueba')

  df_business = df_business.rename(columns={'business_id':'old_id'})
  df_business['city'] = df_business['city'].apply(lambda x: x.lower())
  df_business['city'] = df_business['city'].str.replace(',','')
  df_business['city'] = df_business['city'].str.replace('.','')
  df_business['city'] = df_business['city'].apply(lambda x: x.strip())
  df_business['city'] = df_business['city'].apply(lambda x: " ".join(x.split()))
  df_business['city'] = df_business['city'].apply(lambda x: x.title())
  df_business['categories'] = df_business['categories'].fillna('0')
  cat_list = ['Restaurants', 'Hotels & Travel', 'Food', 'Nightlife', 'Active Life', 'Arts & Entertainment', 'Beauty & Spas']

  def validator(value):
    if value in cat_list:
      return 1000
    else:
      return 0

  def cat_to_list(value):
    value = value.split(', ')
    value.sort(key=validator, reverse=True)
    return ', '.join(value)
  
  df_business['categories'] = df_business['categories'].apply(lambda x: cat_to_list(x))

  city_dict = {'Belle Chase': 'Belle Chasse', 'Abington Township': 'Abington','Ashland City': 'Ashland','Bellefontaine Neighbors': 'Bellefontaine',
               'Bellville': 'Belleville','Belleair Blf': 'Belleair Bluffs','Bethel Township': 'Bethel','Bensalem Pa': 'Bensalem',
               'Bensalem Township': 'Bensalem','Boise City': 'Boise','Burlington Township': 'Burlington',"Carney'S Point": 'Carneys Point',
               'Cedar Brook': 'Cedarbrook','/': '','Conshohoeken':'Conshohocken','Delran Township': 'Delran','Delran Twp': 'Delran',
               'Concord Township': 'Concord','Deptford Township': 'Deptford','Eastampton Township': 'Eastampton',' Township': '',
               'Fairview Hts': 'Fairview','-': '',' City': '',' Twp': '','Bch': 'Beach','Land O Lakes':"Land O'Lakes","Land O' Lakes":"Land O'Lakes",
               'Mccordsville': 'Mc Cordsville','Metarie': 'Metairie','Mt Laurel Twp Nj': 'Mt Laurel','Sqaure': 'Square','O Fallon': "O'Fallon",
               "O' Fallon": "O'Fallon",'Phila': 'Philadelphia','Philadephia': 'Philadelphia','Philly': 'Philadelphia',
               'Redingtn Shor': 'Redington Shore','Redington Shores': 'Redington Shore','Riverview Fl': 'Riverview','Saintt': 'Saint',
               'Tierre': 'Tierra',"Town 'N' Country": 'Town & Country','Town And Country': 'Town & Country','Town N Country': 'Town & Country',
               'Tuscon': 'Tucson'
             }

  df_business = df_business.replace({'city': city_dict})
  df_restaurants = df_business[df_business['categories'].str.contains('Restaurant')]
  
  
  def cat_to_col(value):
    aux_dict = {}
    x = value.split(', ')
    for i in x:
      aux_dict[i] = 1
    return aux_dict

  def dict_to_columns(df_i, column):
    df_i[column] = df_i[column].fillna('{}')
    df_i.reset_index(inplace=True)
    df_o = df_i.join(pd.json_normalize(df_i.pop(column)))
    if 'level_0' in df_o.columns:
      df_o.drop(['level_0'], axis=1, inplace=True)

    return df_o
    
  def attr_to_list(i):
    attributes_list = []
    try:
      for j in i:
        if i[j] == 'True' or i[j] == '1' or i[j] == "u'free'":
          attributes_list.append(j)
      return ', '.join(attributes_list)
    except:
      return ''
  
 

  
  df_restaurants['attributes'] = df_restaurants['attributes'].apply(lambda x: attr_to_list(x))
  df_business['attributes'] = df_business['attributes'].apply(lambda x: attr_to_list(x))
  df_business = df_business[df_business['categories'].str.contains('Restaurants|Hotels & Travel|Food|Nightlife|Active Life|Arts & Entertainment|Beauty & Spas')]
  df_business = df_business.reset_index(drop=True)

  business_index = pd.DataFrame()
  business_index['id'] = list(range(1, len(df_business) + 1, 1))
  business_index['business_id'] = df_business['old_id'].copy()

  df_business.drop(['old_id'], axis=1, inplace=True)
  new_col = list(range(1, len(df_business) +1, 1))
  df_business.insert(loc = 0, column = 'business_id', value = new_col)

 # creando el dataset de city_state
  
  last_city_id = engine.connect().execute('select max(city_state_id) from business_city_state;').fetchall()[0][0]

  df_city_state = pd.DataFrame()
  df_city_state['city'] = df_business['city']
  df_city_state['state'] = df_business['state']
  df_city_state['aux'] = df_city_state['city'] +', '+  df_city_state['state']
  
  old_city_state = engine.connect().execute('select concat(city,", ", state) from business_city_state;').fetchall()

  new_city_state = []

  city_state_list = df_city_state['aux'].tolist()

  for i in city_state_list:
    try:
      old_city_state.index(i)
    except:
      new_city_state.append(i)
  
  df_city_state2 = pd.DataFrame()
  df_city_state2['aux'] = new_city_state
  df_city_state2.insert(loc = 0, column = 'city_state_id', value = list(range(last_city_id+1, len(df_city_state2)+1+last_city_id))) 
  df_city_state2['city'] = df_city_state2['aux'].apply(lambda x: x.split(', ')[0])
  df_city_state2['state'] = df_city_state2['aux'].apply(lambda x: x.split(', ')[-1])
  df_city_state2.drop(['aux'], axis=1, inplace=True)
  df_city_state2 = df_city_state2[['city_state_id', 'city', 'state']]
  df2 = pd.merge(df_business, df_city_state2, left_on=['city', 'state'], right_on=['city', 'state'], how='inner')

  df_business['city_state_id'] = df2['city_state_id']
  df_business.drop(['city'], axis=1, inplace=True)
  df_business.drop(['state'], axis=1, inplace=True)



  # creando el dataframe de horas
  df_hours = pd.DataFrame()
  df_hours['hours'] = df_business['hours'].copy()
  df_hours['aux'] = df_hours['hours'].astype('str')
  df_hours = dict_to_columns(df_hours, 'hours')
  df_hours = df_hours.fillna(0)
  df_hours.drop(['index'], axis=1, inplace=True)
  df_hours = df_hours.drop_duplicates()
  
  last_hour_id = engine.connect().execute('select max(hours_id) from business_hours;').fetchall()[0][0]

  df_hours.insert(loc = 0, column = 'hours_id', value = list(range(last_hour_id+1, len(df_hours)+1+last_hour_id)))

  df_business['hours'] = df_business['hours'].astype('str')
  df3 = pd.merge(df_business, df_hours, left_on='hours', right_on='aux', how='inner')
  df3.drop(['hours','aux','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'], axis=1, inplace=True)
  df_business['hours_id'] = df3['hours_id']
  df_business.drop(['hours'], axis=1, inplace=True)


  # creando el dataframe de attributes

  df_business['attributes'] = df_business['attributes'].astype('str')

  df_attributes = pd.DataFrame()
  
  attr_val = (pd.read_sql_table('business_attributes', engine.connect()))['attributes'].tolist()
  old_attributes = engine.connect().execute('select categories from business_categories;').fetchall()

  new_attr = []
  attributes_list = df_business['attributes'].tolist()

  for i in attributes_list:
    try:
      old_attributes.index(i)
    except:
      new_attr.append(i)
  
  df_attributes['attributes'] = new_attr

  last_attr_id = engine.connect().execute('select max(attributes_id) from business_attributes;').fetchall()[0][0]

  df_attributes.insert(loc = 0, column = 'attributes_id', value = list(range(last_attr_id+1, len(df_attributes)+1+last_attr_id)))
  df5 = pd.merge(df_business, df_attributes, left_on=['attributes'], right_on=['attributes'], how='inner')
  df_business['attributes_id'] = df5['attributes_id']
  df_business.drop(['attributes'], axis=1, inplace=True)


  # creando el dataframe de categories

  df_categories = pd.DataFrame()

  last_cat_id = engine.connect().execute('select max(categories_id) from business_categories;').fetchall()[0][0]
  old_cat = engine.connect().execute('select categories from business_categories;').fetchall()
  
  new_cat = []
  categories_list = df_business['categories'].tolist()
  for i in categories_list:
    try:
      old_cat.index(i)
    except:
      new_cat.append(i)

  df_categories['categories'] = new_cat
  df_categories.insert(loc = 0, column = 'categories_id', value = list(range(last_cat_id+1, len(df_categories)+1+last_cat_id)))

  df6 = pd.merge(df_business, df_categories, left_on='categories', right_on='categories', how='inner')
  df_business['categories_id'] = df6['categories_id']
  
  df_hours.drop(['aux'], axis=1, inplace=True)
  hours_aux = df_hours.columns.tolist()[1:]
  df_business.drop('categories', axis=1, inplace=True)
  for i in hours_aux:
    df_hours[i] = df_hours[i].astype('str')
  old_business_id = engine.connect().execute('select max(business_id) from business;').fetchall()[0][0]
  df_business['business_id'] = list(range(old_business_id+1, len(df_business)+1+old_business_id))
  
  df_business.to_sql('business', con=engine, index=False, if_exists='append')
  df_hours.to_sql('business_hours', con=engine, index=False, if_exists='append')
  df_attributes.to_sql('business_attributes', con=engine, index=False, if_exists='append')
  df_categories.to_sql('business_categories', con=engine, index=False, if_exists='append')
  df_city_state2.to_sql('business_city_state', con=engine, index=False, if_exists='append')

  engine.dispose()

#### demo

In [ ]:
df_increment = df.iloc[1001:2000]

In [ ]:
engine = create_engine('mysql+pymysql://root:projectyelp2022@34.176.218.33/prueba')
sql_demo = engine.connect().execute('select categories from business_categories;').fetchall()

list

In [ ]:
transform_business(df_increment)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### ejecutando la validacion y etl

In [ ]:
path = '/content/drive/MyDrive/test/Dataset Yelp/business.json'

if format_validation(path) == True:
  df_business = pd.read_json(path, lines=True, nrows=100)
  col_val = name_col_val(df_business)
  number_cols = n_col_val(df_business)
  duplicates = duplicates_val(df_business)
  if col_val == True and number_cols == True and duplicates == True:
    print('file validated')

file contain duplicates