In [ ]:
!pip install pymysql

In [8]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.types import Integer, VARCHAR, Float

In [19]:
# df=pd.read_json('/content/drive/MyDrive/test/Dataset Yelp/business.json', lines=True)

#### definiendo funciones de validacion de datos

In [49]:
def business_validator(folder):
  def search_file(file):
    import os
    file_list = os.listdir('/content/drive/MyDrive/test/Dataset Yelp/')
    for i in file_list:
      if 'business' in i:
        path = (f'/content/drive/MyDrive/test/Dataset Yelp/{i}')
    return path
    
  path = search_file('business')
  def format_validation(path):
    import pathlib
    if pathlib.Path(path).suffix == '.json':
      return True
    else:
      return False

  def name_col_val(df):
    if df.columns.tolist() == ['business_id', 'name', 'address', 'city', 'state', 'postal_code',
        'latitude', 'longitude', 'stars', 'review_count', 'is_open',
        'attributes', 'categories', 'hours']:
      return True
    else: return False

  def n_col_val(df):
    if df.shape[1] == 14:
      return True
    else: return False
    
  df = pd.read_json(path, lines=True, nrows=10)
  if format_validation(path) == True and name_col_val(df) == True and n_col_val(df) == True:
    print('business validado')
  else:
    print('business no validado')

In [56]:
def users_validator(folder):

  def search_file(file):
    import os
    file_list = os.listdir('/content/drive/MyDrive/test/Dataset Yelp/')
    for i in file_list:
      if 'user' in i:
        path = (f'/content/drive/MyDrive/test/Dataset Yelp/{i}')
    return path

  path = search_file('user')

  def format_validation(path):
    import pathlib
    if pathlib.Path(path).suffix == '.json':
      return True
    else:
      return False

  def name_col_val(df):
    if df.columns.tolist() == ['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos']:
      return True
    else: return False

  def n_col_val(df):
    if df.shape[1] == 22:
      return True
    else: return False
    
  df = pd.read_json(path, lines=True, nrows=10)
  if format_validation(path) == True and name_col_val(df) == True and n_col_val(df) == True:
    print('users validado')
  else:
    print('users no validado')

In [63]:
def reviews_validator(folder):

  def search_file(file):
    import os
    file_list = os.listdir('/content/drive/MyDrive/test/Dataset Yelp/')
    for i in file_list:
      if 'review' in i:
        path = (f'/content/drive/MyDrive/test/Dataset Yelp/{i}')
    return path

  path = search_file('review')

  def format_validation(path):
    import pathlib
    if pathlib.Path(path).suffix == '.json':
      return True
    else:
      return False

  def name_col_val(df):
    if df.columns.tolist() == ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date']:
      return True
    else: return False

  def n_col_val(df):
    if df.shape[1] == 9:
      return True
    else: return False
    
  df = pd.read_json(path, lines=True, nrows=10)
  if format_validation(path) == True and name_col_val(df) == True and n_col_val(df) == True:
    print('reviews validado')
  else:
    print('reviews no validado')

### validando los archivos de carga incremental, cambiar el valor de folder, con la direccion de la carpeta contenedora

In [67]:
folder = '/content/drive/MyDrive/test/Dataset Yelp/'
business_validator(folder)
users_validator(folder)
reviews_validator(folder)

business validado
reviews validado
reviews validado

#### funcion de etl business_incremental

In [ ]:
def transform_business(df_business):

  # parametros para conectarnos al data warehouse
  engine = create_engine('mysql+pymysql://root:projectyelp2022@34.176.218.33/prueba')

  df_business = df_business.rename(columns={'business_id':'old_id'})
  df_business['city'] = df_business['city'].apply(lambda x: x.lower())
  df_business['city'] = df_business['city'].str.replace(',','')
  df_business['city'] = df_business['city'].str.replace('.','')
  df_business['city'] = df_business['city'].apply(lambda x: x.strip())
  df_business['city'] = df_business['city'].apply(lambda x: " ".join(x.split()))
  df_business['city'] = df_business['city'].apply(lambda x: x.title())
  df_business['categories'] = df_business['categories'].fillna('0')
  cat_list = ['Restaurants', 'Hotels & Travel', 'Food', 'Nightlife', 'Active Life', 'Arts & Entertainment', 'Beauty & Spas']

  def validator(value):
    if value in cat_list:
      return 1000
    else:
      return 0

  def cat_to_list(value):
    value = value.split(', ')
    value.sort(key=validator, reverse=True)
    return ', '.join(value)
  
  df_business['categories'] = df_business['categories'].apply(lambda x: cat_to_list(x))

  city_dict = {'Belle Chase': 'Belle Chasse', 'Abington Township': 'Abington','Ashland City': 'Ashland','Bellefontaine Neighbors': 'Bellefontaine',
               'Bellville': 'Belleville','Belleair Blf': 'Belleair Bluffs','Bethel Township': 'Bethel','Bensalem Pa': 'Bensalem',
               'Bensalem Township': 'Bensalem','Boise City': 'Boise','Burlington Township': 'Burlington',"Carney'S Point": 'Carneys Point',
               'Cedar Brook': 'Cedarbrook','/': '','Conshohoeken':'Conshohocken','Delran Township': 'Delran','Delran Twp': 'Delran',
               'Concord Township': 'Concord','Deptford Township': 'Deptford','Eastampton Township': 'Eastampton',' Township': '',
               'Fairview Hts': 'Fairview','-': '',' City': '',' Twp': '','Bch': 'Beach','Land O Lakes':"Land O'Lakes","Land O' Lakes":"Land O'Lakes",
               'Mccordsville': 'Mc Cordsville','Metarie': 'Metairie','Mt Laurel Twp Nj': 'Mt Laurel','Sqaure': 'Square','O Fallon': "O'Fallon",
               "O' Fallon": "O'Fallon",'Phila': 'Philadelphia','Philadephia': 'Philadelphia','Philly': 'Philadelphia',
               'Redingtn Shor': 'Redington Shore','Redington Shores': 'Redington Shore','Riverview Fl': 'Riverview','Saintt': 'Saint',
               'Tierre': 'Tierra',"Town 'N' Country": 'Town & Country','Town And Country': 'Town & Country','Town N Country': 'Town & Country',
               'Tuscon': 'Tucson'
             }

  df_business = df_business.replace({'city': city_dict})
  df_restaurants = df_business[df_business['categories'].str.contains('Restaurant')]
  
  
  def cat_to_col(value):
    aux_dict = {}
    x = value.split(', ')
    for i in x:
      aux_dict[i] = 1
    return aux_dict

  def dict_to_columns(df_i, column):
    df_i[column] = df_i[column].fillna('{}')
    df_i.reset_index(inplace=True)
    df_o = df_i.join(pd.json_normalize(df_i.pop(column)))
    if 'level_0' in df_o.columns:
      df_o.drop(['level_0'], axis=1, inplace=True)

    return df_o
    
  def attr_to_list(i):
    attributes_list = []
    try:
      for j in i:
        if i[j] == 'True' or i[j] == '1' or i[j] == "u'free'":
          attributes_list.append(j)
      return ', '.join(attributes_list)
    except:
      return ''
  
 

  
  df_restaurants['attributes'] = df_restaurants['attributes'].apply(lambda x: attr_to_list(x))
  df_business['attributes'] = df_business['attributes'].apply(lambda x: attr_to_list(x))
  df_business = df_business[df_business['categories'].str.contains('Restaurants|Hotels & Travel|Food|Nightlife|Active Life|Arts & Entertainment|Beauty & Spas')]
  df_business = df_business.reset_index(drop=True)

  business_index = pd.DataFrame()
  business_index['id'] = list(range(1, len(df_business) + 1, 1))
  business_index['business_id'] = df_business['old_id'].copy()

  df_business.drop(['old_id'], axis=1, inplace=True)
  new_col = list(range(1, len(df_business) +1, 1))
  df_business.insert(loc = 0, column = 'business_id', value = new_col)

 # creando el dataset de city_state
  
  last_city_id = engine.connect().execute('select max(city_state_id) from business_city_state;').fetchall()[0][0]

  df_city_state = pd.DataFrame()
  df_city_state['city'] = df_business['city']
  df_city_state['state'] = df_business['state']
  df_city_state['aux'] = df_city_state['city'] +', '+  df_city_state['state']
  
  old_city_state = engine.connect().execute('select concat(city,", ", state) from business_city_state;').fetchall()

  new_city_state = []

  city_state_list = df_city_state['aux'].tolist()

  for i in city_state_list:
    try:
      old_city_state.index(i)
    except:
      new_city_state.append(i)
  
  df_city_state2 = pd.DataFrame()
  df_city_state2['aux'] = new_city_state
  df_city_state2.insert(loc = 0, column = 'city_state_id', value = list(range(last_city_id+1, len(df_city_state2)+1+last_city_id))) 
  df_city_state2['city'] = df_city_state2['aux'].apply(lambda x: x.split(', ')[0])
  df_city_state2['state'] = df_city_state2['aux'].apply(lambda x: x.split(', ')[-1])
  df_city_state2.drop(['aux'], axis=1, inplace=True)
  df_city_state2 = df_city_state2[['city_state_id', 'city', 'state']]
  df2 = pd.merge(df_business, df_city_state2, left_on=['city', 'state'], right_on=['city', 'state'], how='inner')

  df_business['city_state_id'] = df2['city_state_id']
  df_business.drop(['city'], axis=1, inplace=True)
  df_business.drop(['state'], axis=1, inplace=True)



  # creando el dataframe de horas
  df_hours = pd.DataFrame()
  df_hours['hours'] = df_business['hours'].copy()
  df_hours['aux'] = df_hours['hours'].astype('str')
  df_hours = dict_to_columns(df_hours, 'hours')
  df_hours = df_hours.fillna(0)
  df_hours.drop(['index'], axis=1, inplace=True)
  df_hours = df_hours.drop_duplicates()
  
  last_hour_id = engine.connect().execute('select max(hours_id) from business_hours;').fetchall()[0][0]

  df_hours.insert(loc = 0, column = 'hours_id', value = list(range(last_hour_id+1, len(df_hours)+1+last_hour_id)))

  df_business['hours'] = df_business['hours'].astype('str')
  df3 = pd.merge(df_business, df_hours, left_on='hours', right_on='aux', how='inner')
  df3.drop(['hours','aux','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'], axis=1, inplace=True)
  df_business['hours_id'] = df3['hours_id']
  df_business.drop(['hours'], axis=1, inplace=True)


  # creando el dataframe de attributes

  df_business['attributes'] = df_business['attributes'].astype('str')

  df_attributes = pd.DataFrame()
  
  attr_val = (pd.read_sql_table('business_attributes', engine.connect()))['attributes'].tolist()
  old_attributes = engine.connect().execute('select categories from business_categories;').fetchall()

  new_attr = []
  attributes_list = df_business['attributes'].tolist()

  for i in attributes_list:
    try:
      old_attributes.index(i)
    except:
      new_attr.append(i)
  
  df_attributes['attributes'] = new_attr

  last_attr_id = engine.connect().execute('select max(attributes_id) from business_attributes;').fetchall()[0][0]

  df_attributes.insert(loc = 0, column = 'attributes_id', value = list(range(last_attr_id+1, len(df_attributes)+1+last_attr_id)))
  df5 = pd.merge(df_business, df_attributes, left_on=['attributes'], right_on=['attributes'], how='inner')
  df_business['attributes_id'] = df5['attributes_id']
  df_business.drop(['attributes'], axis=1, inplace=True)


  # creando el dataframe de categories

  df_categories = pd.DataFrame()

  last_cat_id = engine.connect().execute('select max(categories_id) from business_categories;').fetchall()[0][0]
  old_cat = engine.connect().execute('select categories from business_categories;').fetchall()
  
  new_cat = []
  categories_list = df_business['categories'].tolist()
  for i in categories_list:
    try:
      old_cat.index(i)
    except:
      new_cat.append(i)

  df_categories['categories'] = new_cat
  df_categories.insert(loc = 0, column = 'categories_id', value = list(range(last_cat_id+1, len(df_categories)+1+last_cat_id)))

  df6 = pd.merge(df_business, df_categories, left_on='categories', right_on='categories', how='inner')
  df_business['categories_id'] = df6['categories_id']
  
  df_hours.drop(['aux'], axis=1, inplace=True)
  hours_aux = df_hours.columns.tolist()[1:]
  df_business.drop('categories', axis=1, inplace=True)
  for i in hours_aux:
    df_hours[i] = df_hours[i].astype('str')
  old_business_id = engine.connect().execute('select max(business_id) from business;').fetchall()[0][0]
  df_business['business_id'] = list(range(old_business_id+1, len(df_business)+1+old_business_id))
  
  df_business.to_sql('business', con=engine, index=False, if_exists='append')
  df_hours.to_sql('business_hours', con=engine, index=False, if_exists='append')
  df_attributes.to_sql('business_attributes', con=engine, index=False, if_exists='append')
  df_categories.to_sql('business_categories', con=engine, index=False, if_exists='append')
  df_city_state2.to_sql('business_city_state', con=engine, index=False, if_exists='append')

  engine.dispose()

#### ejecucion de la carga incremental de business

In [ ]:
# aqui ingresar el dataframe business incremental
# eg. df = pd.read_json('example_dir/business_incremental.json', lines=True)
# transform_business(df)

### Transformation function of user table (JC)

In [6]:
import pandas as pd
pd.options.display.max_columns = None # para mostrar todas las columnas de los dataframes
import numpy as np
#!pip install pymysql
import pymysql
import sqlalchemy as db

In [ ]:
def etl_users(chunk):
    col_to_drop=['name','elite','compliment_hot','compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain',
                'compliment_cool', 'compliment_funny', 'compliment_writer','compliment_photos'] # droppable columns list
    data_types={'average_stars':np.float32 , 'fans':'uint16', 'review_count':'uint16', 'cool':'uint32', 'useful':'uint32', 'funny':'uint32'} # data types dict for some columns
    
    chunk = chunk.drop(columns=col_to_drop).astype(data_types)
    chunk.yelping_since = pd.to_datetime(chunk.yelping_since, format='%Y-%m-%d %H:%M:%S')
    return chunk

In [ ]:
if users_val == 'users validado':
    new_data = pd.read_json(folder)
    new_data = etl_users(new_data)

### duplicates validation

In [ ]:
#establecimiento de conexión con la base de datos pi_1
database_username='root' # Nombre de cliente en MySQL Workbench
database_password='projectyelp2022' # Contraseña de MySQL Workbench
database_ip='34.176.218.33' # localizacion del servidor
database_name='yelp_project' # Nombre de Base de datos a la que nos conectaremos
engine=db.create_engine(f'mysql+pymysql://{database_username}:{database_password}@{database_ip}/{database_name}')
conexion=engine.connect()
meta = db.MetaData()

In [24]:
# function to call old_codes from DB
def call_old_codes(table_name):
    dict = {'table_name':['users', 'business' , 'reviews'] , 'ids_table_name':[ 'users_ids', 'business_index' , 'idreviews' ] , 'column_name':['user_id', 'business_id', 'review_id']}
    column_name = dict['column_name'][dict['table_name'].index(table_name)]
    ids_table_name = dict['ids_table_name'][dict['table_name'].index(table_name)]

    rdb = conexion.execute(f"select {column_name} from {ids_table_name}")
    old_codes = pd.DataFrame(rdb.fetchall())
    old_codes.columns = rdb.keys()
    
    old_codes[f'indicator {table_name}']=True
    return old_codes

In [ ]:
# funtion to compare compare old codes with new data for any of three tables
def compare(new_data, old_codes):
    data_to_load = new_data.merge(old_codes, how='left', on='user_id')
    data_to_load = data_to_load[data_to_load.indicator.isnull()]
    len_new_data = len(new_data)
    del new_data
    return (data_to_load,)

In [ ]:
# call code's tables to compare ¡¡¡¡¡DEFINIR users_val, business_val y review_val!!!!!!!
if review_val != "reviews validado":
  if users_val == 'users validado':
    old_codes = call_old_codes('users')
    data_to_load = compare(new_data, old_codes)

  if business_val == 'business validado':
    old_codes = call_old_codes('business')
  
elif review_val == 'reviews validado': 
  old_codes = call_old_codes('reviews')
  

  
else: 
  import sys 
  sys.exit()

In [ ]:
# if the new data are reviews compare it also with old codes from users and bussiness
if tabla == 'reviews':
  old_codes_u = call_old_codes('users')
  old_codes_b = call_old_codes('reviews')
  len_dtl = len(data_to_load)
  data_to_load = data_to_load.merge(old_codes_b , how='inner', on='business_id').merge(old_codes_u, how='inner', on='user_id')
  len_dtl_filtered = len(data_to_load)
  a = input(f'{len_dtl - len_dtl_filtered} reviews no se podran cargar porque no tienen user_id o business_id conocido, ¿desea continuar y/n?')
if a == 'n': 
    import sys 
    sys.exit("program finished")