In [69]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/probando/review_2018.csv')
df['date'] = pd.to_datetime(df['date'])
df.info()
# Selecciona todas las columnas para las filas con índices entre 0 y 10
df = df.iloc[:100]
#We add a blank space before each review, because I didn't want to convert the first word of each review
df.text = ' '+df.text
#capitalize(): to change the first letter from a word to lowercase
#strip(): to remove empty spaces from the left and right
df.text = df.text.str.capitalize().str.strip()
#df['text'] = df['text'].astype('string')
# df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906362 entries, 0 to 906361
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    906362 non-null  object
 1   user_id      906362 non-null  object
 2   business_id  906362 non-null  object
 3   stars        906362 non-null  int64
 4   useful       906362 non-null  int64
 5   funny        906362 non-null  int64
 6   cool         906362 non-null  int64
 7   text         906362 non-null  object
 8   date         906362 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 62.2+ MB

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Tokenización

In [70]:
import nltk
nltk.download('stopwords')
nltk.download('word_tokenize')
nltk.download('punkt')
# importing libraries
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
import nltk.data
set(stopwords.words('english'))
# set of stop words
stop_words = set(stopwords.words('english')) 
# word_tokens

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Error loading word_tokenize: Package 'word_tokenize' not
[nltk_data]     found in index
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [71]:
def not_stopwords(frase):   

# tokens of words  
  word_tokens = word_tokenize(frase) 

  filtered_sentence = [] 

  for w in word_tokens: 
      if w not in stop_words: 
          filtered_sentence.append(w) 

  return " ".join(filtered_sentence)

In [72]:
df.text = df.text.apply(lambda x: not_stopwords(x))
df.text.iloc[2]

"boyfriend tried deli first time today . turkey , avocado & bacon panini ha buffalo chicken wrap . definitely returning . wait food n't long , always appreciated lunch hour . much choose . salads , soup , macaroni , sandwiches hot food . love deli many options choose !"

In [73]:

# #filtrar caracteres especiales dentro de un dataframe con la libreria re en python
import re
df.text = df.text.apply(lambda x: re.sub("[^a-zA-Z]"," ",str(x)))
# now
print(df.text.loc[2])

boyfriend tried deli first time today   turkey   avocado   bacon panini ha buffalo chicken wrap   definitely returning   wait food n t long   always appreciated lunch hour   much choose   salads   soup   macaroni   sandwiches hot food   love deli many options choose

FreqDist: Cuantas veces se repite por review

In [74]:
df.text = df.text.apply(lambda x: word_tokenize(x))
df.text
import nltk
df.text = df.text.apply(lambda x: nltk.FreqDist(x))
df.text

0     {'decide': 1, 'eat': 1, 'aware': 1, 'going': 1...
1     {'really': 1, 'stars': 1, 'one': 2, 'love': 1,...
2     {'boyfriend': 1, 'tried': 1, 'deli': 2, 'first...
3     {'amazing': 1, 'biscuits': 1, 'fill': 1, 'blan...
4     {'cafe': 1, 'extremely': 1, 'cute': 1, 'came':...
                            ...
95    {'ve': 1, 'times': 1, 'n': 1, 't': 1, 'disappo...
96    {'place': 2, 'searching': 1, 'friend': 1, 'tri...
97    {'unique': 1, 'professional': 1, 'based': 2, '...
98    {'top': 2, 'notch': 2, 'street': 1, 'tacos': 1...
99    {'holy': 1, 'bat': 1, 'crap': 1, 'place': 2, '...
Name: text, Length: 100, dtype: object

Stemmer

In [76]:
from nltk.stem import PorterStemmer

def stemmering(phrase):
  Stem_words = []
  ps =PorterStemmer()
  for w in phrase:
      rootWord=ps.stem(w)
      Stem_words.append(rootWord)
  return Stem_words

In [77]:
df.text = df.text.apply(lambda x: stemmering(x))
df.text

0     [long, usual, decid, eat, awar, go, take, hour...
1     [sushi, th, street, good, peopl, one, area, or...
2     [deli, food, choos, boyfriend, tri, first, tim...
3     [amaz, biscuit, fill, blank, great, cocktail, ...
4     [breakfast, cafe, extrem, cute, came, am, even...
                            ...
95    [ve, time, n, t, disappoint, yet, meat, eater,...
96    [place, want, search, friend, tri, sever, nail...
97    [base, experi, highest, uniqu, profession, ope...
98    [top, notch, made, street, taco, great, servic...
99    [place, holi, bat, crap, amaz, go, st, pete, a...
Name: text, Length: 100, dtype: object