<a href="https://colab.research.google.com/github/khorneflakes-dev/Proyecto-Final-YELP/blob/main/Erick/carga_inicial_business.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [20]:
engine = create_engine('mysql+pymysql://root:projectyelp2022@34.176.218.33/yelp_project')

In [7]:
df1 = pd.read_parquet('/content/drive/MyDrive/output/business.parquet.gzip')

In [13]:
df1.dtypes

business_id        int64
name              object
address           object
postal_code       object
latitude         float64
longitude        float64
stars            float64
review_count       int64
is_open            int64
city_state_id      int64
hours_id           int64
attributes_id      int64
categories_id      int64
dtype: object

In [8]:
df1.head(2)

,business_id,name,address,postal_code,latitude,longitude,stars,review_count,is_open,city_state_id,hours_id,attributes_id,categories_id
0,1,St Honore Pastries,935 Race St,19107,39.955505,-75.155564,4.0,80,1,4,1,1,1
1,2,Perkiomen Valley Brewery,101 Walnut St,18054,40.338183,-75.471659,4.5,13,1,5,2,2,2

7

In [15]:
df2 = df1.head(100)

In [19]:
import sqlalchemy
from sqlalchemy.types import Integer, VARCHAR, Float

dtypes1 = {
    'business_id': Integer,
    'name': VARCHAR(255),
    'address': VARCHAR(255),
    'postal_code': VARCHAR(25),
    'latitude': Float,
    'longitude': Float,
    'stars': Float,
    'review_count': Integer,
    'is_open': Integer,
    'city_state_id': Integer,
    'hours_id': Integer,
    'attributes_id': Integer,
    'categories_id': Integer
}

df2.to_sql('business', con=engine, index=False, if_exists='replace', dtype = dtypes1)