In [134]:
import pandas as pd
from ast import literal_eval
import warnings
warnings.filterwarnings("ignore")

In [155]:
df_business = pd.read_json('./datasets/business.json', lines=True)

In [156]:
# df_business = df_business.head(1000)

In [157]:
df_business['attributes'] = df_business['attributes'].fillna('{}')

attributes and hours columns contain dictionaries

In [158]:
df_business_cl = pd.concat([df_business, df_business['attributes'].apply(pd.Series).fillna('False')], axis=1)
df_business_cl.drop(columns='attributes', inplace=True)

In [164]:
df_business_cl.replace({'True': 1, 'False': 0}, inplace=True)

In [165]:
df_business_cl

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,BusinessAcceptsBitcoin,Smoking,Music,GoodForDancing,AcceptsInsurance,BestNights,BYOB,Corkage,BYOBCorkage,HairSpecializesIn
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,0,0,0,0,0,0,0,0,0,0
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,...,0,0,0,0,0,0,0,0,0,0
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,...,0,0,0,0,0,0,0,0,0,0
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,0,0,0,0,0,0,0,0
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,iNMdSi5bmvGSGeRQiUW4dw,Wendy's,3535 E. Irvington Road,Tucson,AZ,85714,32.163740,-110.916722,2.5,14,...,0,0,0,0,0,0,0,0,0,0
996,0QmgzzPVNHeNL76B8rwTKA,Beneficial Bank,1600 Chestnut St,Philadelphia,PA,19103,39.951154,-75.167335,2.5,5,...,0,0,0,0,0,0,0,0,0,0
997,ByDCN9n5mwHP9LQqUx-1pw,Largo Police Department,201 Highland Ave,Largo,FL,33770,27.920194,-82.776363,2.5,7,...,0,0,0,0,0,0,0,0,0,0
998,TwIouh_gbW9TCSK3PhuPrg,T J Maxx,545 Cool Springs Blvd,Franklin,TN,37067,35.948462,-86.823777,3.0,28,...,0,0,0,0,0,0,0,0,0,0
999,sDOxVq8gQBpHFYtoxwoLWw,Plume Salon,111 E Girard Ave,Philadelphia,PA,19125,39.969190,-75.134038,4.5,138,...,0,0,0,0,0,0,0,0,0,0

In [139]:
# business_aux = pd.read_json('./datasets/business.json', lines=True, chunksize = 10000)
# df_business = pd.DataFrame()
# for chunk in business_aux:
#   df_business = pd.concat([df_business, chunk])
  
# df_business

In [140]:
# df_checkin = pd.read_json('./datasets/checkin.json', lines=True)

In [141]:
# df_review = pd.read_json('./datasets/review.json', lines=True)
# df_user = pd.read_json('./datasets/user.json', lines=True)

In [142]:
import cleaning_functions as cf

cf.null_validator(df_business)

     column_name  null_values percentage
0    business_id            0      0.0 %
1           name            0      0.0 %
2        address            0      0.0 %
3           city            0      0.0 %
4          state            0      0.0 %
5    postal_code            0      0.0 %
6       latitude            0      0.0 %
7      longitude            0      0.0 %
8          stars            0      0.0 %
9   review_count            0      0.0 %
10       is_open            0      0.0 %
11    attributes            0      0.0 %
12    categories          103     0.07 %
13         hours        23223    15.45 %