In [1]:
import pandas as pd 
from IPython.display import clear_output
import os

In [2]:
import pandas as pd 
from IPython.display import clear_output
import os 
#Codigo para ir leyendo los df "review_20xx.csv" e ir creando 
# la tabla Idreview donde se almacenaran la columnas 
# indice "Id_review" (int64) y review_id(str), para despues devolver
# el df "review_20xx.csv" sin la columna review_id y con un indice Id_review (int64).
# nota1 = En la carpeta donde se ejecuta deben estar los archivos "review_20xx.csv" y 
#       no debe estar el archivo tabla Idreview.csv de corridas anteriores.
# nota2 = Esta version no modifica los archivos "review_20xx.csv" sino que crea 
#       nuevas versiones  "Mod_review_20xx.csv", esto para verificar cambios
# nota2 = Ya se identifico previamente que los review_id son unicos, no hay repetidos.
#       para hacer la conversion mas rapido no se revisara pero para agregar nuevos
#       se deberia verifica que los nuevos review_id(str) no esten reptidos en la 
#       tabla ya creada Idreview.csv
#Tiempo de ejecucion aprox 6 min.

def  creacion_Idreview(nombre_csv,indice=0):
    df = pd.read_csv(nombre_csv) 
    
    if os.path.isfile('Idreview.csv'):
        #Carga incremental de datos 
        print('actualizando Idreview.csv con '+nombre_csv)
        #Se crea el nuevo "Id_review" en secuencia con anterior
        lista = list(range(indice+1,indice+df.shape[0]+1))
        nuevo_indice = lista[-1]
        
        #se crea nuevo archivo  Mod_review_20xx.csv original 
        # (Si se cambia 'Mod_'+nombre_csv por nombre_csv no se crea nuevo archivo )
        df.insert(0,"Id_review",lista)
        Idreview = df[["Id_review","review_id"]]
        df.drop(columns=["review_id"],inplace=True)
        df.to_csv('Mod_'+nombre_csv,index=False) 
        #Se complementa tabla 'Idreview.csv'
        Idreview.to_csv('Idreview.csv',mode='a', index=False, header=False)
        
    else:
        #Primera corrida
        print('creando Idreview.csv')
        df.reset_index(inplace=True)
        df = df.rename(columns={"index": "Id_review"})
        Idreview = df[["Id_review","review_id"]]
        df.drop(columns=["review_id"],inplace=True)
        df.to_csv('Mod_'+nombre_csv,index=False) 
        Idreview.to_csv('Idreview.csv',index=False)
        nuevo_indice =  Idreview.iloc[-1][0]               
    return nuevo_indice


nombre = 'review' 
cont = 0
cont_max = 18 
indice = 0
for year in range(2005,2023):
    # Visualizacion de avance
    cont = cont + 1
    clear_output(wait=True)
    print('Completado: '+str(cont)+"/"+str(cont_max)+"  "+ str(round(cont / cont_max * 100, 2)) + '%')
    
    #Creacion de tabla 'Idreview.csv' y cambio de "review_id"(str)  por "Id_review"(int64)
    if os.path.isfile(nombre+"_"+str(year)+".csv"):
        indice = creacion_Idreview(nombre+"_"+str(year)+".csv",indice)

Completado: 18/18  100.0%
actualizando Idreview.csv con review_2022.csv

In [10]:
#Pruebas:
df2022 = pd.read_csv('review_2022.csv')
df_Mod2022 = pd.read_csv('Mod_review_2022.csv')

In [11]:
df2022.tail()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
31660,PVRvzY0NxSU-fiK3JOXX7w,cTozFTTWjlFYc3yusdbZmA,uMVOtr16r1ELu46pWr4HCQ,1,0,0,0,Just average Thai food tonight. Bangkok has al...,2022-01-18 06:42:59
31661,MIXdpbbCTRAVdi8RiMjwdg,s67G457QlHSvk5RjOMN91w,58MJvmfo5hyfBbvkr54sFA,5,1,0,0,Great gym. Was in Indy for 4 days on business...,2022-01-18 15:24:44
31662,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5,1,0,1,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
31663,zHZ-A1qyKDEgyZMDaD--wg,_XVdmFWSgTN6YlojUxixTA,6WaI-IN8ql0xpEKlb4q8tg,5,1,0,0,We redesigned my moms dress and mad it complet...,2022-01-17 20:59:01
31664,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27

In [12]:
df_Mod2022.tail()

,Id_review,user_id,business_id,stars,useful,funny,cool,text,date
31660,6990275,cTozFTTWjlFYc3yusdbZmA,uMVOtr16r1ELu46pWr4HCQ,1,0,0,0,Just average Thai food tonight. Bangkok has al...,2022-01-18 06:42:59
31661,6990276,s67G457QlHSvk5RjOMN91w,58MJvmfo5hyfBbvkr54sFA,5,1,0,0,Great gym. Was in Indy for 4 days on business...,2022-01-18 15:24:44
31662,6990277,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5,1,0,1,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
31663,6990278,_XVdmFWSgTN6YlojUxixTA,6WaI-IN8ql0xpEKlb4q8tg,5,1,0,0,We redesigned my moms dress and mad it complet...,2022-01-17 20:59:01
31664,6990279,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27

In [8]:
df_Idreview= pd.read_csv('Idreview.csv')

In [9]:
#El Id_review debe coincidir con su indice
df_Idreview.tail()

         Id_review               review_id
6990275    6990275  PVRvzY0NxSU-fiK3JOXX7w
6990276    6990276  MIXdpbbCTRAVdi8RiMjwdg
6990277    6990277  wD5ZWao_vjyT2h4xmGam8Q
6990278    6990278  zHZ-A1qyKDEgyZMDaD--wg
6990279    6990279  i-I4ZOhoX70Nw5H0FwrQUA